<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cập nhật User</title>
</head>
<body>
  <h1>Cập nhật User</h1>
  <form action="/put-crud" method="POST">
    <!-- id ẩn -->
    <input type="hidden" name="id" value="<%= data._id %>">

    <label>Email:</label><br>
    <input type="email" name="email" value="<%= data.email %>" disabled><br><br>

    <label>First Name:</label><br>
    <input type="text" name="firstName" value="<%= data.firstName %>" required><br><br>

    <label>Last Name:</label><br>
    <input type="text" name="lastName" value="<%= data.lastName %>" required><br><br>

    <label>Address:</label><br>
    <input type="text" name="address" value="<%= data.address %>"><br><br>

    <button type="submit">Cập nhật</button>
  </form>

  <br>
  <a href="/get-crud">⬅️ Quay lại danh sách</a>
</body>
</html>
